header {
	background-color: #F1F0FF;
	height: 100px;
	vertical-align: center;
}

#login {
/*	text-align: center;*/
	background-color: #9d79c1;
	text-align: center
}
#home {
	background-color: #efeff0;
}
.radio{
	text-align: left;
	padding-left: 90px;
	color: white;
}

.head {
	height: 30px;
	width: 500px;
	font-size: 15px;
	text-align: center;
}

.input {
	margin-top: 10px;
	margin-bottom: 20px;
}
#user_input {
/*	float: left;
	margin-left: 5%;*/
/*	margin-top: 50px;
	height: 400px;*/
	width: 22%;
	background-color: #8862b7;
	border: none;
/*	border-right: 4px solid;
	border-color: #9d79c1;*/
	opacity: 0.9;
	position: fixed;
/*	padding-top: 30px;*/
	height: 100%;
	text-align: center;
	box-shadow: 4px 0px 5px #9b82bb;
}

#input_form {
/*	display: flex;
	justify-content: center;*/
	position: absolute;
	display: block;
	top: 50px;
	text-align: center;
	left: 50%;
	margin: 0 0 0 -122px;
}

#search_bar {
	margin: auto;
	width: 80%;
	padding: 5px;
}

/*input[type=text] {
	width: 90%;
	background-color: #F1F0FF;
	height: 40px;
	opacity: 0.8;
	border: 2px solid #C3C3E5;
	padding: 5px;
}*/
/*input[type=text]:focus {
	background-color: white;
	border: 1px solid #a6c0b4;
	opacity: 0.9;
}*/
/*input[type=submit] {
	text-align: center;
	height: 40px;
	width: 80px;
	padding: 5px 5px;
	border: 2px solid #919793;
	position: absolute;
	margin-left: 10px;
}*/

.navBtn {
	height: 45px;
	width: 150px;
	background-color: #fd7da1;
	opacity: 0.9;
	border: 1.5px solid #fd7da1;
	border-radius: 5px;
	font-size: 1.1em;
	color: white;
	font-family: Arial;
}

#menu {
	position: fixed;
	display: none;
	height: 62px;
	width: 78%;
	left: 22%;
	background-color: rgba(255, 255, 255, 0.5);
	padding-top: 8px;
	z-index: 1;
}

ul#menu-ul li {
	display: inline;
	padding-left: 20px;
	float: left;
}

#menu-ul {
	width: 800px;
	list-style-type: none;
}

#title {
	background-color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	width: 160px;
	padding-left: 0;
	padding-right: 0;
	margin: auto;
	position: relative;
	top: 20px;
	opacity: 0.9;
	border-radius: 10px;
	color: #8C489F;
}
#results {
	margin-top: 70px;
	margin-right: 4%;
	float: right;
	background-color: white;
	z-index: 0;
}

/*#send_button {
	margin-top: 10px;
	height: 40px;
	width: 240px;
	border: 1px solid white;
	border-radius: 5px;
	font-size: 1.1em;
	color: #8862b7;
	background-color: white;
	opacity: 0.9;
}*/

.leftbar-btn {
	margin-top: 10px;
	height: 40px;
	width: 240px;
	border: 1px solid white;
	border-radius: 5px;
	font-size: 1.1em;
	color: #8862b7;
	background-color: white;
	opacity: 0.9;
}

input[type=range] {
	-webkit-appearance: none;
	margin: 10px 0;
	width: 100%;
}

input[type=range]:focus {
	outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 20px;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: none;
	background: white;
	border-radius: 0px;
	border: 1px solid #cecccc;
}

.pull_request {
	background-color: #efeff0;
	padding-bottom: 20px;
	/*width: 1200px;*/
}

/*table {
    table-layout: fixed;
    width: 200px;
}

th, td {
    border: 1px solid black;
    overflow: hidden;
    width: 100px;
}

td {
    height: 100px;
    width: 50px;
}*/

.single_request {
	width: 914px;
	height: 200px;
/*	border: 1px solid #beb8d4;*/
	background-color: #f8f8fa;
	margin-bottom: 20px;	
	top: 20px;
	box-shadow: 6px 3px 5px #8181ae;
	border-radius: 5px;
}
.profile_img {
	width:50px;
	height:50px;
	position: relative;
	top: 5px;
	left: 5px;
	border-radius: 5px;
}
.user_login {
	position: relative;
	top:-30px;
	left: 70px;
}

.request_title {
	position: relative;
	top: -185px;
	left: 250px;
	font-size: 18px;
	background-color: transparent;
	width: 630px;
	opacity: 0.8; 
	padding-left: 6px;
	padding-top: 2px;
	padding-right: 6px;
	padding-bottom: 2px;
	color: #8181ae;
}

.request_body {
	position: relative;
	top: -170px;
	left: 255px;
	width: 620px;
	height: 130px;
    overflow: scroll;
}


.state {
	position: relative;
	top: -10px;
	left: 10px;
	font-size: 16px; 
}

.request_number {
	position: relative;
	top: -10px;
	left: 10px;
	font-size: 16px; 
}

.created_at {
	position: relative;
	left: 10px;
	font-size: 10px; 
}

.updated_at {
	position: relative;
	left: 10px;
	font-size: 10px; 
}

.closed_at {
	position: relative;
	left: 10px;
	font-size: 10px; 
}




/*tr:hover{background-color:#f5f5f5}*/

#login-head {
	font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
	font-size: 5em;
	color: #f4eaff;
}
#login-div {
	position: absolute;
	display: block;
	top: 30%;
	margin: 0 0 0 -250px;
	width: 500px;
	left: 50%;
	right: 50%;
	text-align: center;
}
#login-btn {
	opacity: 0.8;
	border: 1px solid #9d79c1;
	width: 200px;
	height: 50px;
	font-size: 20px;
	background-color: white;
	border-radius: 5px;
	color: #644784;
}
p {
	font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}
#login-info {
	position:fixed;
	left: 0px;
	bottom: 0px;
	height: 25px;
	width: 22%;
	text-align: center;
	color: white;
	font-family: Arial;
/*	background-color: white;*/
}
#logo {
	left: 0px;
	top: 0px;
	height: 30px;
	width: 22%;
	position: fixed;
	text-align: center;
	padding-top: 5px;
	color: white;
	font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
	font-size: 1.6em;
}
#user-info {
	height: 200px;
	width: 230px;
	background-color: #8181ae;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	color: white;
	font-family: Tahoma, Geneva, sans-serif;
}

#wait-icon {
	background-color: transparent;
	background: url('ajax-loader.gif');
	position: absolute;
	text-align: center;
	display: none;
/*	background-image: url('');*/
	font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
	font-size: 1.2em;
	color: #8862b7;
	width: 50px;
	height: 50px;
	top: 50%;
	left: 60%;
	margin-left: -25px;
	margin-top: -25px;
}

input[type=radio] {
	display: inline-block;
/*	float: center;*/
	margin-left: 5px;
	margin-right: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

#req-num {
	height: 60px;
}

#error {
	display: none;
	color: red;
	margin-top: 10px;
	background-color: rgba(255, 255, 255, 0.5);
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.graphBtn {
	height: 45px;
	width: 150px;
	background-color: white;
	opacity: 0.9;
	border: 1.5px solid #8181ae;
	border-radius: 5px;
	font-size: 1.1em;
	color: #8181ae;
	font-family: Arial;
/*	margin-left: 30;*/
}

#graph_panel {
	background-color: white;
	height: 1100px;
	width: 950px;
	position: absolute;
	top: 100px;
	left: 300px;
	opacity: 0.8;
	z-index: -1;
	box-shadow: 12px 6px 5px #8181ae;
	border-radius: 10px;
}

#prev-btn {
/*	position: inline-block;*/
/*	display: block;
	top: 400px;*/
	color: #fd7da1;
	height: 60px;
	width: 45%;
	margin-right: 10px;
	float: left;

}

#next-btn {
/*	position: inline-block;*/
	display: block;
	top: 450px;
	color: #fd7da1;
	height: 60px;
	width: 45%;
	float: right;

}

#next-prev-div {
	position: relative;
/*	display: block;*/
	top: 460px;
/*	width: 18%;*/
	text-align: center;
}






/*#data-page {
	display: block;
	position: absolute;
	left: 25%;
}

#menu-box {
	display: block;
	position: fixed;
	top: 0%;
	height: 50px;
	left: 25%;
	width: 75%;
}*/