<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>GitHub-Connector</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="data.js"></script>
</head>
<body>
	<div id="user_input">
		<form id="input_form">
			<input list="input_content" name = "dining" id="input_url">
				<datalist id="input_content">
					<option value="Teradata/presto">
				</datalist>	
    		<input type="submit" value="send" id="send_button">
		</form>
	</div>
	<div id="results">
	</div>
</body>
</html>